
    <header> <!--Header Bölümü-->
        <div class="navbar navbar-dark bg-warning shadow-sm">
            <div class="navbar-brand align-item-center d-flex">
                <i style="font-size: 40px; margin-left: 5px;" class="fas fa-shopping-bag">&nbsp;
                    <strong>Amazed</strong>
                </i>
               <div class="form-group">
                    <input type="text" class="form-control" ((ngModel))="searchTerm" (keyup)="search($event)" placeholder="Ürün ara">
                    <span class="fas fa-search search-icon"></span>
               </div>
               
            </div>
            <button routerLink="/cart" class="btn btn-warning">
                <i style="font-size: 40px;" class="fas fa-cart-plus"></i>
                <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
            </button>
        </div>
    </header>
<div class="backImage">
<div class="card-top container-fluid"> <!--Ürün Filtreleri Bölümü-->
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="https://cdn-icons-png.flaticon.com/512/1519/1519722.png" alt="">
                <h6>Tüm Ürünler</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('electronics')">
                <img src="https://cdn-icons-png.flaticon.com/512/896/896493.png" alt="">
                <h6>Elekronik</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <img src="https://cdn-icons-png.flaticon.com/512/2357/2357063.png" alt="">
                <h6>Moda</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <img src="https://cdn-icons-png.flaticon.com/512/3451/3451934.png" alt="">
                <h6>Takı</h6>
            </a>
        </div>
    </div>
</div>
<div class="container"> <!--Ürün Bilgilerinin Bulunduğu Bölüm-->
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong>${{item.price}}</p>
                <button class="btn btn-warning" (click)=addtocart(item)>Sepete Ekle</button>
            </div>
        </ng-container>  
    </div>
</div>
</div>
