.form-control {
    border-radius: 4px;
    width: 700px;
    margin-left: 20px;
}
.search-icon{
    position: absolute;
    z-index: 10;
    right: 38%;
    top: 23px;
    color: salmon;
}
.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.center img{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 160px;
    width: 180px;
    margin: 20px 0px;
}
h4, h6 {
    font-weight: 400;
}

.center{
    position: absolute;
    top: 27%;
    left: 42%;
    transform: translate(-50%,-50%,);
    text-align: center;
}

.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}
.center .btn {
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}

.backImage{
background-image: url(https://media.istockphoto.com/id/1299275641/tr/vekt%C3%B6r/gri-al%C4%B1%C5%9Fveri%C5%9F-arabas%C4%B1-doku.jpg?s=612x612&w=0&k=20&c=dD8HHaCp9649BWRuei7vPDIrVQHWonEVlkE9FaAOBiI=);
}